@model TickTaskDoe.Models.MasterModel

@{
    ViewBag.Title = "Index";
}

<style>
    .flex {
        display: flex;
        flex-direction: row;
        padding: 10px;
        height: 100%;
    }

    .flex-child1 {
        flex-grow: 1;
        background: #e6e6e6;
        margin-top: 10px;
        /* margin-bottom: -8px; */
        padding: 10px;
        border-radius: 30px;
    }

    hr {
        margin-top: 0px !important;
    }
    .flex-child2 {
        flex-grow:8;
    }
   
    #tableList
    {
        list-style:none;
    }

    .flex-child1 h3 {
        color: #024382;
    }

    .flex-child1 a {
        color: #000000 !important;
    }

    .flex-child1 a:hover {
            color: #024382 !important;
        }

</style>

<div class="flex">
    <div class="flex-child1">

        <h3>Your Lists</h3>

        <div id="tableList"></div>
        <div id="ListCreate">
            @using (Ajax.BeginForm("AjaxCreateList", "ToDoes", new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                UpdateTargetId = "tableList"
            }))
            {
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    <div>
                        @Html.EditorFor(model => model.toDoList.Desc, new { htmlAttributes = new { @class = "form-control", @placeholder = "enter new list name" } })
                        @Html.ValidationMessageFor(model => model.toDoList.Desc, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="flex-child2">
        <div id="tableDiv"></div>
        <div id="toDoCreateForm">
            @using (Ajax.BeginForm("AjaxCreateTask", "ToDoes", new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST", 
                UpdateTargetId = "tableDiv"
            }))
            {
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    <div> 
                        @Html.EditorFor(model => model.toDoTask.Desc, new { htmlAttributes = new { @class = "form-control", @placeholder = "enter new task name" } })
                        @Html.ValidationMessageFor(model => model.toDoTask.Desc, "", new { @class = "text-danger"})
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/CustomUnits/ToDoTable.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}